html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
h1 {
    font-size:1.25em;
}
h2 {
    font-size: 1em;
    color:#590242;
}
h3  {
    font-size: 1em;
}
