html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    margin:auto;
    max-width:836px;
}
h1 {
    font-size:1.25em;
}
h2 {
    font-size: 1em;
    color:#590242;
}
h3  {
    font-size: 1em;
    color:#590242;
}
p{
    font-size: 1em;
}
dd {
    font-size: 1em;
}

nav ul {
    display:grid;
    background-color: #020873;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
header div{
    background:linear-gradient(to right,#2104d9,#020659);
}
.scroll {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(5,1fr);
    overflow-x:auto;
    overflow-y:hidden;

}
.scroll section {
    margin: 10px;
    position: relative;
}
.scroll div {
    position: absolute;
    top:251px;
    background-color:rgb(255, 255, 255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;

}
dl {
    display:flex;
    font-size: 1em;
}
dt {
    padding-right: 5px;
}
audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}
#playlists {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#yourplaylists {
    display:grid;
    grid-template-rows: auto;
    background-color:#2699FB;
}
#curated {
    display:grid;
    grid-template-rows: auto;
    background-color: #020873;
}
#yourplaylists section {
    background-color:#0D8DFB;
    margin: 10px;
    display:flex;
}
#yourplaylists img {
    margin:5px;
}
#curated section {
    display: grid;
    margin: 10px;
    background-color:#020659;
    grid-template-columns: 1fr 1fr;
}